.swiper-card{

    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    max-width: 500px;
    padding: 30px 30px 10px 30px;

}
.swiper-card {

}
.swiper-card img{
    width: 80px;
    border-radius: 50%;
}